@page "/cars"

@rendermode InteractiveServer

@inject ICarService carService
@inject NavigationManager NavigationManager

@attribute [Authorize]

@using CarShop.Service
@using Entity
@using Microsoft.AspNetCore.Authorization

@if (cars == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th> Plate</th>
                <th> Brand </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                <tr>
                    <td>@car.Id</td>
                    <td>@car.Plate</td>
                    <td>@car.Brand</td>
                    <td>@car.Model</td>
                    <td>@car.Year</td>
   
                </tr>
            }
        </tbody>
    </table>
   
}

@code {
    private IEnumerable<Car>? cars;

    protected override async Task OnInitializedAsync() => cars = await carService.GetAllCars();




}
